.nav-left-options {
  background-color: lighten($black, 10%);
  height: 100%;
  position: fixed;
  left: 250px;
  bottom: 0;
  width: 250px;
  padding: 95px 20px 0;
}

.fieldset {
  margin-bottom: 40px;
}

.custom-background-container {
  h4 {
    color: #bbb;
  }
}

.fieldset button {
  background-color: transparent;
  border: medium none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 5px;
  opacity: 0.5;
  &::before {
    content: "x";
    padding-right: 5px;
    position: relative;
    top: -1px;
  }
}

.nav-items-content > ul > li {
  display: none;
  &.active {
    display: block;
  }
}