.nav-left {
  background-color: $black;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 250px;
}

.logo {
  padding: 25px 20px 10px 12px;
  svg {
    height: 40px;
    width: 160px;
  }
}

.nav-items ul > li.active a {
  color: white;
  opacity: 1;
}

.select-app {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#075278+0,0a73a8+100 */
  background-color: rgba(255, 255, 255, 0.07);
  background-position: center center;
  background-size: cover;
  height: 150px;
  width: 100%;
  color: white;
  position: relative;
  padding: 30px 20px 20px;
  text-align: left;
  cursor: pointer;
  @include transition-css(background-color);
  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.11);
    @include transition-css(background-color);
  }
  h5 {
    color: #777;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin: 0;
    padding-bottom: 15px;
  }
  small {
    font-size: 1.2rem;
    margin: 0 auto;
    color: $grey-font;
    display: block;
    span {
      color: $green;
      font-weight: 600;
    }
  }
  h3, small {
    position: relative;
    z-index: 1;
  }
}

.darklayer {
  background-color: black;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-items {
  ul {
    padding: 0;
    & > li {
      color: white;
      list-style-type: none;
      height: 40px;
      display: table;
      width: 100%;
      a {
        background-position: left 17px center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        border-left: 3px solid transparent;
        cursor: pointer;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        display: table-cell;
        padding: 0 0 0 55px;
        vertical-align: middle;
        opacity: 0.5;
        &:hover, &:focus {
          opacity: 1;
        }
        &.active {
          background-color: rgba(255, 255, 255, 0.1);
          border-left: 3px solid $blue;
          opacity: 1;
        }
      }
      &.link-bg a {  background-image: url('../img/img-ico.png');  }
      &.link-title a {  background-image: url('../img/title-ico.png');  }
      &.link-text a {  background-image: url('../img/text-ico.png');  }
    }
  }
  .submenu {
    padding: 10px;
   li {
      height: 25px;
     a {
       font-size: 1.1rem;
       letter-spacing: 0.01em;
       opacity: 0.5;
       &.active {
         background-color: transparent;
         opacity: 1;
         border: 3px solid transparent;
       }
     }
    }
  }
  .help {
    text-align: center;
    bottom: 20px;
    position: absolute;
    width: 100%;
    .btn {
      padding: 10px 20px;
      width: calc(100% - 40px);
    }
  }
}