$background-grey:       #ebebeb;
$main-font:             rgb(91, 91, 91);
$grey-font:             #bbb;

$black:                 #28282e;
$black-blue:            #101c2d;
$blue:                  #26AEF2;
$green:                 #50B652;